fastapi>=0.103.2
uvicorn>=0.23.2
python-multipart>=0.0.6
pydantic>=2.4.2
sqlalchemy>=2.0.21
psycopg2-binary==2.9.12
celery>=5.3.4
redis>=5.0.1
# AI / ML Dependencies
torch==2.12.0
torchvision==0.27.0
torchaudio==2.11.0
opencv-python>=4.8.1.78
numpy>=1.26.0
scipy>=1.11.3
tqdm>=4.66.1
librosa>=0.10.1
insightface>=0.7.3
moviepy>=1.0.3
scikit-image>=0.21.0

